<div class="successPage">
    <h1 class="message">Thank you for your RSVP. We are honored you have chosen to be by our side for our wedding. Everyone who has made it this far has given either one of us a reason
        to be thankful for you, so thank you ... and see you soon!    
    </h1>
    <h3 class="signature">- Emily and Ethan</h3>
    <p class="info">For more information, or questions, click FAQ or to return to the home page, click Home</p>
    <a routerLink="" class="home btn">Home</a>
    <a routerLink="/faq" class="faq btn">FAQ</a>
</div>
