/*Background cover to cover the flowers image*/
.bod-1 {
    position: absolute;
    background: rgb(150,141,141);
    background: linear-gradient(90deg, rgba(150,141,141,1) 0%, rgba(240,240,240,1) 32%, rgba(255,255,255,1) 50%, rgba(240,240,240,1) 68%, rgba(150,141,141,1) 100%); 
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2%;
}

.img-hdr, .bod-1 {
    margin: 0;
    padding: 0;
    display: block;
}

.img-hdr {
    margin: -1%;
}

.rsvp-title {
    margin-top: 2%;
    margin-bottom: -2%;
    padding-bottom: 0;
    font-size: 200%;
}

.form-area {
    border-style: solid;
    width: 40%;
    display: block;
    position: relative;
    left: 30%;
    border-color: gray;
    border-radius: 10%;
    margin-top: 5%;
    box-shadow: 5px 5px 5px gray;
    background: rgb(252, 248, 248);
}

.form-inner {
    padding: 1% 0 5%;
}

.form-title {
    margin-bottom: 1%;
}

.form-label {
    margin-right: 1%;
    display: inline;
    position: absolute;
    left: 7%;
}

.input-space {
    display: inline-block;
    width: 50%;
    margin-bottom: 1%;
}

.dec, .inc {
    display: inline;
    margin: 7%;
    cursor: pointer;
    background: rgb(232, 229, 229);
    border-radius: 100%;
    height: 0;
    border: solid;
    border-color:darkgrey;
    border-width: 1px;
    padding: 0 4px 0 4px;
}

.dec:hover, .inc:hover {
    background: rgb(180, 178, 178);
}

.form-input {
    display: block;
    padding-top: 1%;
}

.rsvp {
    margin: 2% 1% 0;
    display: block;
    position: relative;
    left: 47%;
    cursor: pointer;
    align-content: center;
    margin-bottom: 2%;
}

.note {
    font-size: 80%;
    position: absolute;
    float: left;
    left: 7%;
}

.error {
    color: red;
    
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.error_border {
    border-color: rgb(239, 132, 132);
}

.error_border2 {
    border-color: rgb(239, 132, 132);
}


.required:hover {
    cursor: pointer;
    font-style: none;
}
