<div class="bd1">
    <div class="question">
        <div class="title">How do I RSVP?</div>
        <div class="content">You can easily RSVP by simply clicking <a class="faq-btn" routerLink="/rsvp">here</a> and filling out the short form! Please be sure to include any children you will bring so we can provide appropriate child care.</div>
    </div>
    <div class="question">
        <div class="title">When should I RSVP by?</div>
        <div class="content">Please submit your RSVP by April 9th, 2024 so we can make sure we have a seat reserved just for you! </div>
    </div>
    <div class="question">
        <div class="title">Can I bring my children?</div>
        <div class="content">You are welcome to bring your children, however they will not be allowed at the ceremony. We will provide on-sight child care the entire night so you can have a stress free evening!</div>
    </div>
    <div class="question">
        <div class="title">Is Parking Available?</div>
        <div class="content">Definitely! Our venue provides ample parking so whether you carpool or drive yourself you will have a spot.</div>
    </div>
    <div class="question">
        <div class="title">Will the Wedding be indoors or outdoors?</div>
        <div class="content">The ceremony and reception will be outdoors, weather permitting, but the venue has several options for a indoor alternatives if it rains, or if you just want to step inside for a bit!</div>
    </div>
    <div class="question">
        <div class="title">What is the dress code?</div>
        <div class="content">If you are attending our wedding, we request you wear semi-formal attire. We suggest that men wear a lightweight suit and tie or a light dress shirt with khakis or other semi-formal slacks. We also suggest that women wear an evening gown or midi/knee-length cocktail dress. <br />**Feel free to be creative with your outfit, just please be sure no white!</div>
    </div>
    <div class="question">
        <div class="title">Am I allowed to bring a plus one?</div>
        <div class="content">We have allowed certain plus ones, desginated with your invitation. If you are unsure if you received a plus one, please reach out to us so we can help clarify.</div>
    </div>
    <div class="question">
        <div class="title">What will the menu options be?</div>
        <div class="content">We are still working with catering companies to make sure we choose the perfect reception meal! However, if you have dietary restrictions please be sure to include that in your RSVP, for example, if you eat vegetarian please be sure to let us know. Check back soon for our official menu!</div>
    </div>
    <div class="question">
        <div class="title">Will there be an open bar?</div>
        <div class="content">We will have a limited bar. We will have select beer, wine, and at least two signature cocktails.</div>
    </div>
    <div class="question">
        <div class="title">I am traveling, is there somewhere to stay nearby?</div>
        <div class="content">We recommend the <a class="faq-btn" href="https://www.wyndhamhotels.com/laquinta/chattanooga-tennessee/la-quinta-chattanooga-lookout-mtn/rooms-rates?hotel_id=53120&checkin_date=11/27/2023&checkout_date=11/28/2023&adults=2&children=0&rooms=1&brand_id=LQ&iata=00093752&cid=ME:d2uwlduahvh850w:53120&gclid=CjwKCAiAx_GqBhBQEiwAlDNAZnSbEYXE5M27CB8AtygXU99BbwHCxXntDyk2VLMZIZYiH4C2xuSNNxoC9RUQAvD_BwE" target="_blank">La Quinta Inn and Suites</a> as it is just 10 minutes from the venue. However, there are plenty of options in chattanooga for rooming.</div>
    </div>
    <div class="question qa">
        <div class="title">If I have more questions, who can I contact?</div>
        <div class="content">If you have questions outside of this page, feel free to contant the groom at <a class="faq-btn" href="tel:706-639-7466">(706) 639-7466</a>.</div>
    </div>
</div>